*{
    margin: 0px;
}
body{
    color: white;
    margin: 0px;
    font-family: 'comic sans ms' sans-serif;

}

header{
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

header>h1{
    margin: 0px;

}
header>#nav-link>a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: orange;
    color: black;

}
header>#nav-link>a:hover{
    box-shadow: 0 0 10px white;

}
#landing-page{
    background: yellow url("../images/sai1.jpg")no-repeat 0px 0px scroll;
    background-size: cover;
    height: 100vh;

}
#landing-page>.wrapper{
    background-color: rgba(0, 0, 0, 0.5);
    height: inherit;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}
#landing-page>.wrapping>h1{

    font-size: 60px;

}
#landing-page>.wrapping>button{
    width: 130px;
    padding: 5px 20px;
    margin-top: 20px;
    background-color: orange;
    color: black;
    border-radius: 10px;
    outline: none;

}
#landing-page>.wrapping>button:hover{
    box-shadow: 0 0 10px white;
    cursor: pointer;

}
@media(min-width: 0px) and (max-width: 1100px)
{
    header{

        height: 100px;
        flex-direction: column;

    }
    header>#nav-link
    {
        position: relative;
        top: -20px;

    }
}
@media(min-width: 0px) and (max-width: 800px)
{
        header>#nav-link>a{

            margin: 5px;
        }
}