{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
		<h1><span style="Color: orange">Jspiders</span>Institute</h1>

		<div id="nav-link">
			<a href=""><i class="fa fa-home"></i>Home</a>
			<a href=""><i class="fa-solid fa-newspaper"></i>Updates</a>
			<a href=""><i class="fa-solid fa-graduation-cap"></i>Courses</a>
			<a href=""><i class="fa-regular fa-address-card"></i>About</a>
			<a href=""><i class="fa-duotone fa-phone"></i>Contact</a>
		</div>
	</header>

	<!--Landing Page-->
	<div id="landing-page">
		<div class="wrapper">
			<h1>Welcome To<span style="color:orange">Jspiders</span></h1>

			<p>Here </p>

			<button>Join Now</button>
		</div>
	</div>
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
</body>
</html>